{% extends "layout.html" %}
{% block container %}
<!--Must Watch-->
<div class="hero">
    <div id="image-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <a href="{{movie1[0]}}"> <img src="{{movie1[2]}}"> </a>
                </li>
                <li class="splide__slide">
                    <a href="{{movie2[0]}}"> <img src="{{movie2[2]}}"> </a>
                </li>
                <li class="splide__slide">
                    <a href="{{movie3[0]}}"> <img src="{{movie3[2]}}"> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Horizontal Slider 1-->
<section class="section">
    <h2>Must Watch</h2>
    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <a href="{{movie1[0]}}"> <img src="{{movie1[3]}}"> </a>
                    </div>
                    {{movie1[1]}}
                </li>
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <a href="{{movie2[0]}}"> <img src="{{movie2[3]}}"> </a>
                    </div>
                    {{movie2[1]}}
                </li>
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <a href="{{movie3[0]}}"> <img src="{{movie3[3]}}"> </a>
                    </div>
                    {{movie3[1]}}
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    // Main Slider
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#image-slider', {
            rewind: true,
            pagination: false
        }).mount();
    });

    // Horizontal Slider
    var elms = document.getElementsByClassName('splide');
    for (var i = 1, len = elms.length; i < len; i++) {
        new Splide(elms[i], {
            rewind: true,
            perPage: 3,
            permove: 1,
            breakpoins: {
                640: {
                    height: '6rem',
                }
            },
        }).mount();
    }
</script>
{% endblock %}