{% extends 'layout.html' %}

{% block head %}
<link rel='stylesheet' href='https://cdn.rawgit.com/trazyn/neoui-ng/master/dist/neoui-0.1.0.min.css'>
<link rel='stylesheet' href='https://cdn.rawgit.com/trazyn/neoui-ng/master/dist/app.min.css'>
<!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
{% endblock head%}

{% block container %}
<div class="main">
  <div id="rate">
    <div class="movie center-block" style="background-color:white">
      <div class="cover">
        <div class="skew">
          <img src="{{backdrop}}">
          <div class="meta">
            <p class="subhead">
              {{title}} ({{date}})
            </p>
            <p>
              <span>PG-13</span>
              <span>{{length}} min</span>
              <span>{{ratings}}</span>
              <span>{{genre}}</span>
              <br>
              <br>
              <span>
                <i class="md-icon-favorite"></i>
                {{likes}}
              </span>
            </p>

          </div>
        </div>
      </div>
      <div class="info">
        <div class="preview">
          <div class="min">
            <img src="{{poster}}">
          </div>
        </div>

        <div class="desc">
          <p>
          <h3>{{overview}}</h3>
          </p>
          <p class="director"><b>Director:</b> <a href="https://www.imdb.com/search/name/?name={{director}}">{{director}}</a>
          </p>
          <p class="stars"><b>Stars:</b>
            {% for actor in stars %}
              <a href="https://www.imdb.com/search/name/?name={{actor}}">{{actor}}</a>,
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock container%}