{% extends 'layout.html' %}

{% block head %}
<link rel='stylesheet' href='https://cdn.rawgit.com/trazyn/neoui-ng/master/dist/neoui-0.1.0.min.css'>
<link rel='stylesheet' href='https://cdn.rawgit.com/trazyn/neoui-ng/master/dist/app.min.css'>
<!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
{% endblock head%}

{% block container %}
<div class="main">
  <div id="rate">
    <div class="movie center-block" style="background-color:white">
      <div class="cover">
        <div class="skew">
          <img src="{{backdrop}}">
          <div class="meta">
            <p class="subhead">
              {{title}} ({{date}})
            </p>
            <p>
              <span>PG-13</span>
              <span>{{length}} min</span>
              <span>{{ratings}}</span>
              <span>{{genre}}</span>
            </p>
            <s-rate ng-model="rate" ng-init="rate = 4.4"></s-rate>
            <span>
              <i class="md-icon-favorite"></i>
              740,216 likes
            </span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="preview">
          <div class="min">
            <img src="{{poster}}">
          </div>
        </div>

        <div class="desc">
          <p>
          <h3>{{overview}}</h3>
          </p>
          <p class="director"><b>Director:</b> <a href="//www.imdb.com/name/nm0634240/?ref_=tt_ov_dr">{{director}}</a>
          </p>
          <p class="stars"><b>Stars:</b> <a href="//www.imdb.com/name/nm0000190/?ref_=tt_ov_st">Matthew McConaughey</a>,
            <a href="//www.imdb.com/name/nm0004266/?ref_=tt_ov_st">Anne Hathaway</a>, <a
              href="//www.imdb.com/name/nm1567113/?ref_=tt_ov_st">Jessica Chastain</a> | <a
              href="//www.imdb.com/title/tt0816692/fullcredits?ref_=tt_ov_st_sm">See full cast and crew</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock container%}